@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{margin: 0;padding: 0;text-decoration: none;}

header{
  border: 1px solid:red;
  width: 100%;
  height: 80px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
    border: 1px solid:blue;
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
  border: 1px solid:green;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li a{
  color: #000000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -0.01em;
  transition: 0.5s;
}

header nav ul li a:hover{
  color: #F155EC;
  transition: 0.5s;
}

.menu1{width: 150px;}
.menu2{width: 550px;}
.menu3{width: 150px;}
.menu4{width: 110px;}


.main{
  width: 100%;
  height: 700px;
  background-image: url('img/01_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
}

.wrap{
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  margin-top: 240px;
}

.cont1{
  width: 100%;
  padding-top: 150px;
  padding-bottom: 200px;
}

.cont5{
  padding-top: 70px;
  padding-bottom: 200px;
}

.cont7{
  padding-top: 120px;
}

.cont8{
  padding-top: 100px;
}

.cont8_1{
  width: 100%;
  padding-top: 70px;
  padding-bottom: 100px;
}

.cont9{
  padding-top: 100px;
  padding-bottom: 100px;
}

.cont9_2{
  padding-top: 100px;
  padding-bottom: 100px;
}

.cont10_1{
  padding-top: 100px;
  padding-bottom: 200px;
}
.cont_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
